#list-area.news {
  .contents {
    .topic-list {
      width: 100%;

      tbody {
        width: 100%;

        .news-item {
          max-width: 100%;
          width: 100%;
          box-sizing: border-box;

          .news-item-thumbnail {
            float: initial;
            margin-bottom: 10px;

            img {
              height: 200px !important;
              width: 100% !important;
            }
          }

          .news-item-title {
            margin-bottom: 5px;

            a {
              font-size: 25px;
              line-height: 34px;
            }
          }

          .news-item-body {
            margin-top: 0;
          }
        }
      }
    }
  }
}

a.header-nav-link {
  margin-right: 10px;
  display: inline-block;
  font-size: 0;

  &.active, &:hover {
    font-weight: 700;
  }

  span {
    vertical-align: middle;
    display: inline-block;
    width: 40px;
    text-align: center;
    font-size: 16px;
    color: $primary;
  }

  img {
    vertical-align: middle;
    display: inline-block;
    width: 30px;
    height: 30px;
  }
}